* {
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1; 
}

body {
    margin: 0;
    padding: 0;
    background: url('/media/bckground_img.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #ADD8E6;
    color: #555;
    font-family: 'Lato';
    
}

.logo-container {
    flex: 0 0 auto;
    max-width: none;
    padding-left: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: visible;
}


.logo-container::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/media/shopping_bag.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: white;
   
    font-weight: bold;
    position: relative;
    z-index: 10;
    margin: 0;
}


h2.logo-font {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff; 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
}


.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
    
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    padding: 10px; 
    font-size: 14px; 
}

.card-title {
    margin-bottom: 5px; 
    font-size: 16px; 
}

.card-text {
    margin-bottom: 5px; 
}

.overlay {
	height: 100%; 
    width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
    height: 100vh; 
    width: 100vw;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}


.product-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    font-size: 2rem;
}

.product-details .lead {
    font-size: 1.5rem;
    color: #333;
}

.product-details img {
    max-width: 100%;
    border-radius: 8px;
}
.navbar-toggler {
    margin-top: 10px;
    text-align: center;
    
}

.collapse.navbar-collapse {
    float: none;
    text-align: right;
}

.navbar-collapse {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 1050; 
    background-color: white; 
    border: 1px solid #ddd;
}


.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    margin: 0;
    padding-left: 0;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 0 !important;
    padding-left: 0 !important;
}


.navbar .navbar-nav {
    display: flex;
    align-items: start; 
    gap: 15px; 
}

.navbar .logo-container {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


.nav-item.dropdown {
    padding: 0 10px; 
}

.nav-link {
    padding: 10px 15px; 
}

.nav-item {
    margin: 0;
    padding: 5px;
    text-align: left;
}

.nav-item a {
    display: block;
    padding: 10px;
    font-size: .95rem;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-item.dropdown {
    margin-right: 15px; 
}

.nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    z-index: 1050; 
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    min-width: 180px;
}

.navbar-nav .nav-link {
    padding: 10px;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
}

.page-title {
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}


.loading-spinner h1 {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.dropdown-item {
    padding: 12px 20px;
    font-size: 1rem;
}

.breadcrumb {
    background: none;
    padding: 10px 0;
    font-size: 0.9rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    margin: 0 5px;
    color: #aaa;
}


/* Dropdown menu styling */
.nav-item.dropdown .dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    min-width: 180px;
    padding: 10px 20px;
    z-index: 1050;
    text-align: left;
    
}

.nav-item a.nav-link {
   
    text-transform: uppercase; 
    font-weight: bold;
    padding: 2px 5px;
}

.sort-select-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 15px;
}

#sort-selector {
    max-width: 200px;
    float: right;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

screenshot-container {
    margin-top: -20px; 
}

.mr-5 {
    margin-right: 0 !important; 
}

.mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 

}

.review {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.review p {
    margin: 0;
}
.submit-review {
    margin-top: 20px;
}

.fas.fa-shopping-bag.fa-lg {
    line-height: 1.2em;
    vertical-align: middle;
    margin-left: 12px;
}

.fas.fa-shopping-bag {
    margin-right: 0; 
    float: right;
    margin-bottom: 5px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.total-checkout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
    text-align: right; 
    margin-top: 20px;
}

.total-checkout-wrapper p {
    margin: 5px 0; 
}

.total-checkout-wrapper .btn {
    margin-top: 10px;
}
.toast-container {
    position: absolute; 
    top: 10px;
    right: 10px;
    z-index: 1050; 
    pointer-events: none; 
    width: auto;
    max-width: 300px; 
}

/* Styling for Order Tracking Page */
/* Order Tracking Page Styles */
.order-tracking-container {
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

.order-summary {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.order-summary h3 {
    color: #333;
}

.status {
    font-weight: bold;
    color: #28a745;
}

.order-products ul {
    list-style-type: none;
    padding-left: 0;
}

.order-products li {
    margin-bottom: 8px;
}

.no-orders {
    font-size: 16px;
    color: #555;
    text-align: center;
}

/* order_tracking.css */
.order-tracking-container .container {
    width: 80%;  
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.order-summary {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.order-summary h3 {
    margin: 0 0 10px;
}

.status {
    color: green;
    font-weight: bold;
}

.order-products ul {
    list-style-type: none;
    padding: 0;
}

.order-products li {
    margin: 5px 0;
}

.no-orders {
    text-align: center;
    font-size: 18px;
    color: #888;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}
 footer .container-fluid{
    margin: 10px 0;

 }

footer h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

footer ul li {
    margin: 5px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
}

footer ul li a:hover {
    text-decoration: underline;
    color: #d1d1d1;
}

footer p {
    margin: 5px 0;
    font-size: 0.75rem;
    color: #d1d1d1;
}

footer .contact-details,
footer .social-media,
footer .quick-links {
    flex: 1;
    max-width: 300px; 
}

footer .social-media ul,
footer .contact-details ul,
footer .quick-links ul {
    padding: 0;
}

footer hr {
    background-color: #ffffff;
    height: 1px;
    border: none;
    width: 90%;
}

footer .text-center p {
    margin-top: 5px;
    font-size: 0.75rem;
    color: #d1d1d1;
}

footer.bg-dark.text-white.py-4 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.form-control {
    max-width: 90%;
    margin:0 auto;
}

form .form-control {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

form button[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

footer .col-md-3 form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer .col-md-3,
footer .col-md-4 {
    flex: 1; 
    max-width: 25%;
}

/* Adjust Input Field in Newsletter Form */
form .form-control {
    width: 100%; 
    max-width: none; 
    margin-bottom: 0; 
    padding: 10px; /* Adjust padding for better aesthetics */
    font-size: 1rem; /* Consistent font size */
    border-radius: 5px; /* Optional rounded corners */
    margin: 0;
}

.nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050; 
}

.dropdown-menu {
    min-width: 180px;
    padding: 10px 0;
}

.container {
    
    color:black; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 65px;
    margin-bottom: 0;
    
}

.login {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

button.btn-primary {
    padding: 10px 20px;
}


.login input {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.login input::placeholder {
    color: #999; 
}

.login input:focus {
    border-color: #007bff;
    outline: none;
    background-color: rgba(255, 255, 255, 1);
}

input:focus, textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

input, textarea {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-outline-secondary {
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    background: transparent;
    transition: all 0.3s;
}

.btn-outline-secondary:hover {
    color: #000;
    border-color: #007bff;
    background: #007bff;
}

.secondaryAction {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
}

.secondaryAction:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Center the logout page */
.logout-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 100px); 
    background: rgba(255, 255, 255, 0.9);
}

/* Style for the form */
.logout-form {
    display: flex;
    justify-content: center;  
    gap: 15px; 
    margin-top: 20px; 
}

/* Style for buttons */
.logout-form button {
    padding: 10px 20px; 
    font-size: 1rem; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-form button:hover {
    background-color: #0056b3;
    color: #fff;
}

.logout-form a {
    padding: 10px 20px; 
    font-size: 1rem; 
    background-color: transparent;
    color: #555;
    border: 1px solid #555;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.logout-form a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.order-number {
    font-size: 0.85rem; 
    color: #666; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px; 
    display: inline-block;
}


.order-history table {
    width: 100%;
    border-collapse: collapse;
}

.order-history th,
.order-history td {
    padding: 8px 12px; 
    text-align: left; 
}

/* Resize the download invoice button */
.download-invoice-btn {
    padding: 5px 10px;
    font-size: 0.9rem; 
    border-radius: 4px; 
    border: 1px solid #333; 
    transition: all 0.3s ease; 
}

.download-invoice-btn:hover {
    background-color: #333; 
    color: #fff;
}


/* Signup Form Styling */

.signup-form,
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #333;
    color: #fff;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: visible !important;
    height: auto;
}

/* Fix input fields */
.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #444;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
}

.signup-form button {
    width: 100%;
    padding: 12px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.signup-form button:hover {
    background: #0056b3;
}


.signup-form input::placeholder {
    color: #aaa; 
}


.signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; 
    font-size: 1.5rem;
}

.signup-form p {
    text-align: center;
    color: #ccc; 
    margin-bottom: 20px;
    font-size: 1rem;
}

/* General container for the password reset form */
.password-reset-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Full page styling to handle footer placement */
.password-reset-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f9f9f9;
}

.password-reset-page-content {
    flex: 1;
}

/* Title styling */
.password-reset-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styling */
.password-reset-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-reset-form input[type="email"],
.password-reset-form button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-reset-form input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

/* Button styling */
.password-reset-form button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-reset-form button:hover {
    background-color: #0056b3;
}

/* Help text styling */
.help-text {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.list-inline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.list-inline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
}

ul.list-inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0 !important;
    gap: 15px; /* spacing between items */
}

ul.list-inline .list-inline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-inline-item p.my-0 {
    margin: 0 !important;
    margin-bottom: 8px !important;
    font-size: 0.9rem;
    text-align: center;
}

ul.list-inline .list-inline-item:last-child {
    padding-right: 10px;
}

.list-inline-item div i {
    font-size: 1.5rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-flex {
    display: block;
}

.row.bg-white {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0;
}

.mx-auto {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container.header-container {
    margin-top: 80px;
    margin-bottom: 0.5rem;
}

form[action="/products/"] {
    margin-bottom: 1rem;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
  }

  .navbar {
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    padding: 0 20px !important;
    
  }

  .navbar-nav {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;
  }

  .nav-item a {
    font-size: 0.95rem !important;
    padding: 8px 10px !important;
  }

  .nav-item {
    white-space: nowrap;

  }

  .nav-link {
    font-size: 1rem; 
    padding: 6px 8px; 
  }
  
}

  /* Allauth form formatting */

  .allauth-form-inner-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
 
.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

@media (min-width: 1400px) {
  .navbar-nav .nav-item a {
    font-size: 1rem;
  }
}
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
    }
  
    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .95rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%; 
        left: auto;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .fas.fa-shopping-bag.fa-lg {
        font-size: 1.2rem; 
        margin: 0 6px; 
    }
    
    .list-inline-item div {
        align-items: center; 
    }

    
}
  

  @media (max-width: 768px) {


    .container.header-container {
        margin-top: 180px;
    }

    .total-checkout-wrapper {
        text-align: center; 
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
    }

    .logo-container h2 {
        margin: 0;
        font-size: 1.2rem;
        color:white;
    }

    .logo-font{
        font-size: 1.5rem;
    }

    h2.logo-font {
        font-size: 1.2rem;
        color: white;
        margin: 0;
    }

    header.container-fluid {
        
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
        margin: 0 !important;
    }

    .navbar-toggler {
            margin: 0 auto; 
            display: flex;
            justify-content: center;
            align-items: center;  
    }

    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px; 
    }

    .navbar .navbar-nav {
        flex-direction: column;
        width: 100%; 
        gap: 5px;
    }

    .order-summary h3 {
        font-size: 1.5em;
    }
    
      .order-summary p {
        font-size: 1em;
    }

      .navbar-nav {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        
    }

    .nav-item.dropdown .dropdown-menu {
        
        width: 100%;
        margin: 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: white;
    }
    .dropdown-menu {
        border-radius: 0;
        border: none;
        position: relative;
        width: 100%;
        
    }

    .dropdown-item {
        padding: 10px 15px;
        color: #555;
        font-size: 1rem;
    }

    .dropdown-item:hover {
        background-color: #007bff;
        color: white;
    }

    .nav-item.dropdown .dropdown-menu {
        position: relative;
        width: 100%;
        border-radius: 0;
    }

    #delivery-banner {
        text-align: center;
        font-size: 0.9rem;
        padding: 0px 0;
    }

    .signup-form {
        padding: 15px;
    }

    .container {
        padding: 10px;
    }

    h2.logo-font {
        font-size: 1.5rem;
    }

    .btn-primary, .btn-outline-secondary {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .password-reset-container {
        padding: 15px;
    }

    .password-reset-container h1 {
        font-size: 20px;
    }

    .password-reset-form input[type="email"],
    .password-reset-form button {
        font-size: 14px;
        padding: 8px 10px;
    }

    h2.logo-font {
        font-size: 1.5rem; 
        margin-top: 10px;
        text-align: center;
        color: #fff;
        position: relative; 
        z-index: 10; 
    }
    footer .row {
        flex-wrap: wrap;
    }

    footer .col-md-3 {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
    }
    form button[type="submit"] {
        width: auto;
    }

    .logo-container {
        order: -1;
        flex-direction: column;
    }

    .navbar-collapse .list-inline { 
        display: none !important;
    }

    .list-inline-item {
        display: block;
    }
    
    .col-md-4 {
        text-align: center;
    }
    
    .row.bg-white {
        justify-content: end;
        margin-left: 0;
        margin-right: 0;
    }
}
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {

      h2.logo-font {
        font-size: 1.2rem;
    }

    .logo-font {
        font-size: 1.8rem;
    }

    .logo-container {
        justify-content: center;
    }

    header.container-fluid {
        padding: 0px;
    }
  
    body {
          height: calc(100vh - 116px);
      }

      .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

  .navbar-collapse {
    background-color: white;
    padding: 10px 20px;
  }

     .nav-link {
        padding: 0.15rem;
    }

     .nav-link i.fa-lg {
        font-size: 1rem;
    }

     .navbar-toggler {
        
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    .navbar-collapse .list-inline {
        display: none !important;
    }

}

@media (max-width: 1024px) {
    .navbar {
        flex-wrap: wrap; 
    }

    .navbar-nav {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .logo-container {
        margin: auto; 
        flex-grow: 1; 
    }
}

@media (min-width: 1024px) {
  .navbar-nav {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

  }

  .logo-container {
    margin: auto;
    flex-grow: 1;
  }

  .logo-font {
        font-size: 1.2rem;
    }
}


@media (max-width: 576px) {
    h2.logo-font {
        font-size: 1.2rem;
    }

    .navbar {
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column; 
    }

    .list-inline-item {
        width: 100%;
        text-align: center;
        margin-bottom: 5px; 
    }

    #delivery-banner h4 {
        font-size: 1rem;
    }

    .logo-font {
        font-size: 1.2rem;
    }

}


ul.list-inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0 !important;
    gap: 15px;
}

ul.list-inline .list-inline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.list-inline .list-inline-item p {
    font-size: 0.9rem;
    margin: 0 !important;
    margin-bottom: 8px !important;
}

ul.list-inline .list-inline-item:last-child {
    margin-right: 15px !important;
    padding-right: 5px;
}

ul.list-inline .list-inline-item div i {
    font-size: 1.5rem;
    margin-bottom: 5px;
    display: block;
}

header.container-fluid,
.navbar {
    width: 100vw;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

header .row,
.navbar > .container,
.navbar > .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    padding: 0 20px !important;
  }

  .navbar-nav {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 15px !important;
  }

  .nav-item {
    white-space: nowrap;
    padding: 0 4px;
  }

  .nav-link {
    font-size: 0.95rem;
    padding: 5px 8px;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .nav-link {
    font-size: 0.85rem !important;
    padding: 4px 6px !important;
  }

  .navbar-nav {
    gap: 0.20px !important;
  }

  .navbar {
    padding: 0 15px !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .navbar {
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding: 0 10px !important;
  }

  .navbar-nav {
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    width: 100%;
    padding: 0 !important;
  }

  .nav-item {
    flex: 0 1 auto;
    min-width: 100px;
    text-align: center;
    padding: 5px 10px;
  }

  .nav-link {
    font-size: 0.85rem !important;
    padding: 6px 8px !important;

  }

  .navbar-collapse {
    padding: 5px 15px;
  }    
}

@media (max-width: 875px) {
  .navbar-nav {
     flex-wrap: wrap !important;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .nav-item {
    white-space: nowrap;
  }

}


