{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Products in {{ current_category.friendly_name }}</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'product_detail' product.id %}">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'images/noimage.png' %}" class="card-img-top" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5>{{ product.name }}</h5>
                        <p>${{ product.price }}</p>

                        <!-- Category Display -->
                        {% if product.category %}
                            <p class="small mt-1 mb-1">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                        {% endif %}

                        <!-- Subcategory Display -->
                        {% if product.subcategory %}
                            <p class="small mt-1 mb-1">
                                <a class="text-muted" href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                    <i class="fas fa-tags mr-1"></i>{{ product.subcategory.friendly_name }}
                                </a>
                            </p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No products found in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
